@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap"); /*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  background-color: var(--primary-bgr-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-colour);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

:root {
  /* text */
  --primary-text-colour: #757575;
  --title-text-colour: #212121;
  --logo-text-color: #000000;
  --accent-text-color: #2196F3;
  --hero-text-color: #FFFFFF;
  /* background */
  --primary-bgr-color: #ffffff;
  --secondary-bgr-color: #F5F4FA;
  --footer-brt-color: #2F303A;
}

.section {
  padding: 94px 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--title-text-colour);
  text-align: center;
  margin-bottom: 50px;
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__container {
  display: flex;
  align-items: center;
}

.header__logo {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-text-color);
  margin-right: 93px;
}

.header__logo-accent {
  color: var(--logo-text-color);
}

.header__cont {
  display: flex;
  align-items: center;
}

/* Site nav */
.nav__links {
  display: flex;
}

.nav__links .item:not(:last-child) {
  margin-right: 50px;
}

.nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  color: var(--title-text-colour);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav .link:focus, .nav .link:hover {
  color: var(--accent-text-color);
}

.nav .current {
  color: var(--accent-text-color);
  position: relative;
}

/* символ подчеркивания под ссылкой текущей страницы */
.nav .current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-text-color);
  border-radius: 2px;
  bottom: -1px;
}

.cont__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--primary-text-colour);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cont__link:focus, .cont__link:hover {
  color: var(--accent-text-color);
}

.header__cont .cont__link:not(:last-child) {
  margin-right: 50px;
}

.cont__icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  background-color: var(--footer-brt-color);
  padding: 200px 0;
}

.hero__overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-text-color);
  margin-bottom: 30px;
}

.hero__btn {
  display: flex;
  justify-content: center;
}

.btn__item {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216px;
  color: var(--hero-text-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn__item:focus, .btn__item:hover, .btn__item:active {
  color: var(--accent-text-color);
  background-color: var(--secondary-bgr-color);
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 530px;
  min-height: 580px;
  background-color: var(--primary-bgr-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.svg-close-btn {
  width: 18px;
  height: 18px;
  fill: var(--logo-text-color);
  background-color: var(--primary-bgr-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-close-btn:focus, .svg-close-btn:hover {
  fill: var(--accent-text-color);
}

/* Форма в модальному вікні */
.modal-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-colour);
  margin-bottom: 12px;
}

.modal-main-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-area {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 448px;
  margin-bottom: 10px;
}

.form-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: var(--primary-text-colour);
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  outline: none;
  padding-left: 42px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  border-color: var(--accent-text-color);
}

.modal-icon {
  position: absolute;
  left: 12px;
  transform: translateY(15px);
  width: 18px;
  height: 18px;
  fill: var(--title-text-colour);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .modal-icon {
  fill: var(--accent-text-color);
}

.form-text-area {
  resize: none;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-text-area:focus {
  border-color: var(--accent-text-color);
}

.form-text-area::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  -moz-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-text-area:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  -ms-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-text-area::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-text-area:focus::-moz-placeholder {
  color: var(--accent-text-color);
}

.form-text-area:focus:-ms-input-placeholder {
  color: var(--accent-text-color);
}

.form-text-area:focus::placeholder {
  color: var(--accent-text-color);
}

.accept {
  margin-top: 20px;
  margin-bottom: 30px;
}

.privacy {
  line-height: 1.71;
}

.privacy-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  bottom: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.privacy-wrapp {
  width: 16px;
  height: 15px;
  margin-right: 4px;
}

.modal-check {
  fill: transparent;
  border: 2px solid var(--title-text-colour);
  border-radius: 2px;
  margin-right: 8px;
  vertical-align: middle;
}

.privacy-input:checked + .privacy .modal-check {
  border: none;
  fill: var(--accent-text-color);
}

.form-link {
  color: var(--accent-text-color);
}

/* Кінець форми в модальному вікні */
.benefits {
  padding-bottom: 0;
}

.benefits__list {
  display: flex;
  grid-gap: 30px;
}

.benefit__item {
  width: 270px;
}

.benefit__icon {
  display: block;
  padding: 25px 100px;
  margin-bottom: 30px;
  background: #F5F4FA;
  border-radius: 4px;
  fill: currentColor;
}

.benefit__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text-colour);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.functions-list {
  display: flex;
  grid-gap: 30px;
}

/* напівпрозорий нижній борт з описом функцій */
.function__item {
  position: relative;
}

.function__descr {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--hero-text-color);
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  width: 100%;
  display: block;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
}

.team {
  background-color: var(--secondary-bgr-color);
}

.team-list {
  display: flex;
  grid-gap: 30px;
}

.team-card {
  background: var(--primary-bgr-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member {
  padding: 30px 32px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: var(--title-text-colour);
}

.team-role {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.connect-team-logo {
  display: flex;
  justify-content: space-between;
}

.sn-team-button {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.connect-tam-logo .sn-team-button:not(:last-child) {
  margin-right: 10px;
}

.sn-team-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: rgb(175, 177, 184);
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sn-team-link:hover, .sn-team-link:focus {
  background-color: var(--accent-text-color);
  fill: var(--hero-text-color);
  cursor: pointer;
}

.client-list {
  display: flex;
  grid-gap: 30px;
}

.client-button {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  fill: #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-button:focus, .client-button:hover {
  border: 1px solid var(--accent-text-color);
  fill: var(--accent-text-color);
  cursor: pointer;
}

/* portfolio buttons */
.portfolio-btn-cont {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-nav {
  display: inline-flex;
  margin-right: 8px;
}

.portfolio-btn-cont .portfolio-nav:last-child {
  margin-right: 0px;
}

.btn-gray {
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  color: var(--title-text-colour);
  background-color: var(--secondary-bgr-color);
  border: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-gray:hover, .btn-gray:focus {
  color: var(--hero-text-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* portfolio section */
.portfolio-section {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 30px;
}

/* portfolio list */
.portfolio-list {
  background-color: var(--hero-text-color);
  box-shadow: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list:hover, .portfolio-list:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* Для оверлей на карточках портфолио */
.portfolio-ovelay {
  position: relative;
  overflow: hidden;
}

.portfolio-ovelay-text {
  display: block;
  position: absolute;
  transform: translateY(100%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 18px;
  line-height: 1.6;
  color: var(--hero-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list:hover .portfolio-ovelay-text,
.portfolio-list:focus .portfolio-ovelay-text {
  transform: translateY(0%);
}

/* Конец оверлей на карточках портфолио */
.img {
  vertical-align: bottom;
}

.portfolio-dsr {
  border: 1px solid #EEEEEE;
  border-top: transparent;
  padding: 20px;
}

.portfolio-section .portfolio-list:nth-child(3n) {
  margin-right: 0;
}

.portfolio-section .portfolio-list:nth-child(n+7) {
  margin-bottom: 0;
}

.portfolio-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-colour);
  margin-bottom: 4px;
}

.portfolio-list-text {
  font-size: 16px;
  line-height: 1.88;
}

.head-footer {
  background-color: var(--footer-brt-color);
  padding: 60px 0;
}

.footer {
  display: flex;
}

.logo-footer {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-text-color);
}

.logo-accent {
  color: var(--logo-text-color);
}

.logo-accent-footer {
  color: var(--hero-text-color);
}

.footer-adress-cont {
  margin-top: 20px;
}

.footer-adress {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--hero-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-adress:focus, .footer-adress:hover {
  color: var(--accent-text-color);
  cursor: pointer;
}

.footer-contact-cont {
  margin-top: 9px;
}

.footer-contact {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact:focus, .footer-contact:hover {
  color: var(--hero-text-color);
  cursor: pointer;
}

.connect {
  margin-top: 12px;
  margin-left: 94px;
}

.title-connect {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--hero-text-color);
  margin-bottom: 20px;
}

.connect-logo {
  display: flex;
}

.sn-button {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.connect-logo .sn-button:not(:last-child) {
  margin-right: 10px;
}

.sn-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--hero-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sn-link:focus, .sn-link:hover {
  background-color: var(--accent-text-color);
  cursor: pointer;
}

/* Форма підписки на розсилку */
.footer-subscribe {
  margin-left: auto;
}

.footer-subscribe-conrainer {
  display: flex;
  align-items: end;
}

.footer-subscribe-label {
  display: flex;
  flex-direction: column;
}

.title-subscribe {
  display: block;
  margin-top: 12px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-text-color);
}

.imput-email {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--hero-text-color);
  background-color: var(--accent-text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  fill: var(--hero-text-color);
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1), color 500ms cubic-bezier(0.4, 0, 0.2, 1), fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-btn:focus, .footer-btn:hover {
  background-color: var(--secondary-bgr-color);
  fill: var(--accent-text-color);
  color: var(--accent-text-color);
}

/* Кінець форми підписки на розсилку *//*# sourceMappingURL=main.css.map */