// .benefits {
//     padding-bottom: 0;
// }

.benefits__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 30px;
}

.benefit__item {
    justify-content: center;
    grid-gap: 30px;

    @media screen and (min-width: 480px) {
        width: 450px;
    }
      
    @media screen and (min-width: 768px) {
        width: 354px;
    }
      
    @media screen and (min-width: 1200px) {
        width: 270px;
    }
}

.benefit__icon {

    display: flex;
    height: 120px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
    background: #F5F4FA;
    border-radius: 4px;
    fill: currentColor;
}

.benefit__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: var(--title-text-colour);
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;

    @media screen and (min-width: 768px) {
        text-align: left;
    }
}