.hero {
    background-color: var(--footer-brt-color);
    padding: 200px 0;
}


.hero__overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image:
        linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../images/hero-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-text-color);
    margin-bottom: 30px;
}

.hero__btn {
    display: flex;
    justify-content: center;
}

.btn__item {
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 216px;

    color: var(--hero-text-color);
    background-color: var(--accent-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: transparent;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;

    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:focus,
        &:hover,
        &:active {
            color: var(--accent-text-color);
            background-color: var(--secondary-bgr-color);
            cursor: pointer;
        }
}