.backdrop {
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 1;
    background-color: rgba(0, 0, 0, 0.2);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    min-width: 530px;
    min-height: 580px;

    background-color: var(--primary-bgr-color);
    border-radius: 4px;
    box-shadow:
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    padding: 40px;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    background-color: transparent;
    cursor: pointer;
}

.svg-close-btn {
    width: 18px;
    height: 18px;

    fill: var(--logo-text-color);
    background-color: var(--primary-bgr-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:focus,
        &:hover {
            fill: var(--accent-text-color);
        }
}

/* Форма в модальному вікні */
.modal-form-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-colour);
    margin-bottom: 12px;
}

.modal-main-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-area {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 448px;
    margin-bottom: 10px;
}

.form-label {
    display: block;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.15;
    letter-spacing: 0.01em;

    color: var(--primary-text-colour);
}

.form-input {
    width: 100%;
    height: 40px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    margin-top: 4px;

    outline: none;
    padding-left: 42px;

    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:focus {
            border-color: var(--accent-text-color);
        }
}

.modal-icon {
    position: absolute;
    left: 12px;
    transform: translateY(15px);

    width: 18px;
    height: 18px;

    fill: var(--title-text-colour);
    cursor: pointer;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus+.modal-icon {
    fill: var(--accent-text-color);
}

.form-text-area {
    resize: none;
    width: 448px;
    height: 120px;
    padding: 12px 16px;
    margin-top: 4px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    outline: none;
    cursor: pointer;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:focus {
            border-color: var(--accent-text-color);
        }
}

.form-text-area::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-text-area:focus::placeholder {
    color: var(--accent-text-color);
}

.accept {
    margin-top: 20px;
    margin-bottom: 30px;
}

.privacy {
    line-height: 1.71;
}

.privacy-input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    bottom: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.privacy-wrapp {
    width: 16px;
    height: 15px;
    margin-right: 4px;
}

.modal-check {
    fill: transparent;
    border: 2px solid var(--title-text-colour);
    border-radius: 2px;
    margin-right: 8px;
    vertical-align: middle;
}

.privacy-input:checked+.privacy .modal-check {
    border: none;
    fill: var(--accent-text-color);
}

.form-link {
    color: var(--accent-text-color);
}
/* Кінець форми в модальному вікні */