$mainFont: "Roboto";
$secondaryFont: "Raleway";

:root {
    /* text */
    --primary-text-colour: #757575;
    --title-text-colour: #212121;
    --logo-text-color: #000000;
    --accent-text-color: #2196F3;
    --hero-text-color: #FFFFFF;
    /* background */
    --primary-bgr-color: #ffffff;
    --secondary-bgr-color: #F5F4FA;
    --footer-brt-color: #2F303A;
}